
.customized-list-group{

}

.customized-list-group-item{
  margin-top: 12px;
  height: 85px;
  width: 60vw;
  /*border: 3px solid red;*/
  border-radius: 9px;
  display: flex;
  align-items: center;
}


.task-group-item-title{
  font-size: 26px;
  /*border: 2px solid blue;*/
  display: flex;
  align-items: center;
}


.task-group-item-container{
  width: 100%;
  /*border: 3px solid violet;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-group-item-details-container{
  display: flex;
  flex-direction: row;
}

.task-group-item-info{
  margin-right: 18px;
  /*border: 3px solid blueviolet;*/
  display: flex;
}

.task-completed-status-container{
  /*border: 3px solid orangered;*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-completed-icon{
  color: limegreen;
  margin-right: 8px;
}

.task-completed-text{
  color: limegreen;
  font-size: 18px;
  font-weight: bold;
}

.start-task-button{
  color: white;
  border-radius: 18px;
  height: 45px;
  width: 110px;
  font-size: 18px;
  font-weight: 400;
}

