<mat-card class="course-card">
  <mat-card-header>
    <mat-card-title>{{ course.title }}</mat-card-title>
    <mat-card-subtitle>{{ course.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <div class="mat-card-image">
    <img src="data:image/png;base64,{{ course.image }}" class="course-img" />
  </div>
  <mat-card-content>
    <p>
      {{ course.description }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button>Zapisz się</button>
  </mat-card-actions>
</mat-card>
