<mat-card class="course-card">
  <mat-card-header>
    <mat-card-title>{{ course.title }}</mat-card-title>
    <mat-card-subtitle>{{ course.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <div class="mat-card-image">
    <img src="data:image/png;base64,{{ course.image }}" class="course-img unselectable" />
  </div>
  <mat-card-content>
    <p>
      {{ course.description }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <div *ngIf="!course.enrolled; else enrolledLabel" >
      <button mat-flat-button class="enroll-button" (click)="enrollCourse(course.id)">Zapisz się</button>
    </div>
    <ng-template #enrolledLabel>
      <label class="enroll-label" >Jesteś już zapisany na ten kurs.</label>
    </ng-template>
  </mat-card-actions>
</mat-card>
