.course-card{
  width: 420px;
  height: 400px;
  margin: 12px;
}

.mat-card-title{
  position: absolute;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.mat-card-image{
  padding: 15px;
}

.course-img{
  width:  280px;
  height: 140px;
  object-fit: contain;
}

.mat-card-content{
  padding-top: 10px;
}

.mat-card-actions{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

img {
  pointer-events: none;
}

.enroll-button{
  background-color: limegreen;
}


.enroll-label{
  font-weight: bold;
}
