
<div class="my-courses-container-wrapper">

  <div class="container my-courses-container">
    <div class="my-courses-title my-courses-img">
      Moje kursy
    </div>

    <div class="my-courses-content">
      <div class="my-courses-content-title">
        Wykupione kursy
      </div>
      <div class="my-courses-action-menu">

      </div>

      <div class="my-courses-content-container">
        <ng-template [ngIf]="enrolledCourses.length" >
          <div class="list-group customized-list-group" *ngFor="let course of enrolledCourses">
            <div class="list-group-item customized-list-group-item" >
              <div class="course-name-block">
                <div>
                  <div></div>
                  <div class="course-name-title">{{ course.courseTitle }}</div>
                </div>
                <div>
                  <button mat-flat-button class="start-course-button">Rozpocznij</button>
                </div>
              </div>
              <hr>
              <div class="course-details-block">
                <div>Data wykupienia {{ course.purchasedDate }}</div>
                <div>Ważność Bez limitu</div>
                <div>Lekcje {{ course.totalLessonsCount }}</div>
                <div>Zadania {{ course.totalTasksCount }}</div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="!enrolledCourses.length" >
            <div class="my-courses-no-content-info">
              Brak informacji.
            </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
