
<div class="course-panel-container-wrapper">
  <div class="container course-panel-container">
    <div class="course-panel-title">
      {{ courseUrlSlug }}
    </div>

    <div class="course-panel-content">
      <div class="course-panel-options">
        <button mat-flat-button (click)="onLessonsButtonClicked()"
                [ngClass] ="{'course-option-checked' : lessonsButtonChecked  }" >Lekcje</button>
        <button mat-flat-button (click)="onTasksButtonClicked()"
                [ngClass] ="{'course-option-checked': tasksButtonChecked }" >Zadania</button>
      </div>
    </div>
    <div class="course-option-container">
        <div *ngIf="lessonsButtonChecked">
          <app-lesson-list></app-lesson-list>
        </div>
        <div *ngIf="tasksButtonChecked">
          <app-task-list></app-task-list>
        </div>
    </div>
  </div>
</div>
