
<div class="course-panel-container-wrapper">
  <div class="container course-panel-container">
    <div class="course-panel-title">
      {{ courseUrlSlug }}
    </div>

    <div class="course-panel-content">
      <div class="course-panel-options">
        <button mat-flat-button (click)="onLessonsButtonClicked()"
                [ngClass] ="selectedOption == 'lessons' ? 'course-option-checked' : 'course-option-unchecked'" >Lekcje</button>
        <button mat-flat-button (click)="onTasksButtonClicked()"
                [ngClass] ="selectedOption == 'tasks' ? 'course-option-checked' : 'course-option-unchecked'" >Zadania</button>
      </div>
    </div>
    <div class="course-option-container" [ngSwitch]="selectedOption">
        <div *ngSwitchCase="'lessons'">
          <app-lesson-list></app-lesson-list>
        </div>
        <div *ngSwitchCase="'tasks'">
          <app-task-list [courseUrlSlug]="courseUrlSlug" ></app-task-list>
        </div>
    </div>
  </div>
</div>
