
<div class="course-container-wrapper">
<div class="container course-container">
  <div class="course-title course-background-img">
    Kurs {{ courseDetailsPayload.title }}
  </div>
  <div class="course-details-container" >
    <div class="course-details-content">
      <div class="course-detailed-description-section">
        <p class="course-details-section-title">Opis kursu</p>
        <div class="course-description" *ngIf="courseDetailsPayload.detailedDescription; else noInfoCourseDescription">
          {{ courseDetailsPayload.detailedDescription }}
        </div>
        <ng-template #noInfoCourseDescription>
          <div class="course-description" >
            Brak informacji.
          </div>
        </ng-template>
      </div>

      <div class="course-lessons">
        <p class="course-details-section-title">Kurs obejmuje nastepujące tematy</p>
        <div *ngIf="courseDetailsPayload.lessons.length; else noLessonsDescription">
        <ol *ngFor="let lesson of courseDetailsPayload.lessons" class="list-group customized-list-group">
          <li class="list-group-item customized-group-item">
            <span>
              <i class="material-icons">check_box</i>
              {{ lesson.title }}
            </span>
          </li>
        </ol>
        </div>
        <ng-template #noLessonsDescription>
          <div class="course-description" >
            Brak informacji.
          </div>
        </ng-template>
      </div>

      <div class="course-scopes">
        <p class="course-details-section-title">Czego sie nauczysz</p>
        <div *ngIf="courseDetailsPayload.courseScopes.length; else noScopesDescription">
          <ol *ngFor="let scope of courseDetailsPayload.courseScopes" class="list-group customized-list-group">
            <li class="list-group-item customized-group-item">
              <span>
                <i class="material-icons">check_box</i>
              {{ scope.scope }}
              </span>
            </li>
          </ol>
        </div>
        <ng-template #noScopesDescription>
          <div class="course-description" >
            Brak informacji.
          </div>
        </ng-template>
      </div>

      <div class="course-recipient-section-description">
        <p class="course-details-section-title">Dla kogo jest ten kurs?</p>
        <div class="course-description" *ngIf="courseDetailsPayload.recipientDescription; else noRecipientDescription">
          {{ courseDetailsPayload.recipientDescription }}
        </div>
        <ng-template #noRecipientDescription>
          <div class="course-description" >
            Brak informacji.
          </div>
        </ng-template>
      </div>

      <div class="course-contains-section">
        <p class="course-details-section-title">Kurs zawiera</p>
        <ol class="list-group customized-list-group">
          <li class="list-group-item customized-group-item">
            <span>
            <i class="material-icons">check_box</i>
              Zestaw {{ courseDetailsPayload.lessonsCount }} lekcji
            </span>
          </li>
          <li class="list-group-item customized-group-item">
            <span>
            <i class="material-icons">check_box</i>
            Zestaw {{ courseDetailsPayload.tasksCount }} zadań
            </span>
          </li>
        </ol>
      </div>
    </div>
    <div class="course-info-offer">
      <div class="course-img-container">
        <img src="{{ courseDetailsPayload.courseIconUrl }}" class="course-img unselectable" />
        <div class="course-info">
          <div class="course-info-title">Kurs online</div>
          <hr>
          <div class="course-info-price">{{ courseDetailsPayload.price }} zł</div>
          <div class="course-info-special-offer">Oferta specjalna</div>
          <hr>
          <mat-list class="course-cons-container">
            <mat-list-item>
              <mat-icon matListIcon class="orange-icon">check_circle</mat-icon>
              <p matLine>Gwarantowany zwrot pieniędzy</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon class="orange-icon">check_circle</mat-icon>
              <p matLine>Dostępny na PC, smartfonie i tablecie</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon class="orange-icon">check_circle</mat-icon>
              <p matLine>100% Satysfakcji</p>
            </mat-list-item>
          </mat-list>
          <hr>
        </div>
      </div>
      <div class="course-info-actions">
        <ng-template [ngIf]="!courseDetailsPayload.inCart && !courseDetailsPayload.bought" ] >
          <button mat-flat-button class="add-to-cart-item"
                  (click)="addToCart(courseDetailsPayload)" >Dodaj do koszyka</button>
        </ng-template>

        <ng-template [ngIf]="courseDetailsPayload.inCart">
          <button  mat-flat-button class="already-in-cart-button"
                   (click)="addToCart(courseDetailsPayload)" >Znajduję sie w koszyku</button>
        </ng-template>

        <ng-template [ngIf]="courseDetailsPayload.bought">
          <button  mat-flat-button class="go-to-course-button"
                   (click)="addToCart(courseDetailsPayload)" >Przejdź do kursu</button>
        </ng-template>
      </div>

      <div class="course-need-help">
        <button mat-flat-button class="need-help-button">Potrzebujesz pomocy?</button>
      </div>
    </div>
  </div>
</div>
</div>
