
<div class="cart-title">
  Twój koszyk
</div>

<div class="cart-content">
  <div class="container-fluid d-flex flex-column cart-container">
    <div class="row cart-row">

      <div class="col-8">
        <label class="course-title">Kursy</label>
        <div class="cart-item-container" >
         <div *ngFor="let cartItem of cartItems" >
           <div class="cart-item-section">
             <div class="cart-item-details">
               <div class="cart-item-name">
                 <label class="cart-item-title" >{{ cartItem.courseTitle }}</label>
                 <label class="cart-item-author" >Autor:{{ cartItem.courseAuthor }}</label>
               </div>
               <label class="cart-item-price" >Cena:{{ cartItem.coursePrice }} zł</label>
             </div>
             <div class="cart-item-actions">
               <button mat-flat-button class="remove-cart-item-button" (click)="removeCartItem(cartItem.id)" >Usuń</button>
             </div>
           </div>
         </div>
        </div>
        <div *ngIf="cartItems.length == 0" class="empty-cart-message">
          <label>Twój koszyk jest pusty.</label>
        </div>
      </div>


      <div class="col-4 cart-summary">
        <div *ngIf="cartItems.length">
          <label class="summary-title">Podsumowanie</label>
          <div class="cart-summary-info">

          </div>
          <div class="cart-summary-actions">
            <button  mat-flat-button class="submit-cart-button" (click)="submitCart()" >Zatwierdź</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
