

.cart-title{
  height: 190px;
  margin: auto;
  width: 100%;
  font-size: 65px;
  font-weight: bold;
  color: #f8f9fa;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.cart-content{
  background: #121119;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cart-container{
  width: 70vw;
  color: white;
  font-size: 30px;
  background: #2e2e2e;
}

.cart-row{
  padding: 22px;
  /*border: 1px solid orangered;*/
}

.cart-item-container{
  /*border: 3px solid orange;*/
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 520px;
}

.cart-item-section{
  margin: 5px;
  display:flex;
}

.cart-item-details {
  width: 100%;
  padding: 12px;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: row;
  /*border: 1px solid red;*/

}

.cart-item-name{
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/

}


.cart-item-title {
 font-weight: bold;
  /*border: 1px solid red;*/
}

.cart-item-author {
  font-style: italic;
  color:gray;
  font-size: 18px;
  margin-bottom: 2px;
  /*border: 1px solid red;*/
}

.cart-item-price {
  margin-top: auto;
  margin-left:auto;
  margin-bottom: 2px;
  /*border: 1px solid red;*/

}

.course-title, .summary-title {
  font-size: 40px;
  font-weight: bolder;
  padding: 16px;
}

.cart-item-actions{
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.remove-cart-item-button {
  width: 92px;
  height: 42px;
  background-color: red;
  color: white;
  margin-left: 5px;
}

.empty-cart-message{
  margin: auto;
  width: 50%;
  height: 50%;
  /*border: 3px solid green;*/
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cart-message label{
  font-style: italic;
  /*border: 3px solid blue;*/
}

.submit-cart-button{
  height: 90px;
  width: 280px;
  background-color: limegreen;
  color: white;
}

.cart-summary{
  padding: 6px;
  height: 600px;
  /*border: 1px solid red*/
}

.cart-summary-info{
  height: 320px;
  /*border: 3px solid blue;*/
}

.cart-summary-actions{
  height: 200px;
  /*border: 3px solid red;*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
