

.course-products-container-wrapper{
  background-color: #121119;
}

.course-category-title{
  font-size: 65px;
  font-weight: bold;
  color: #f8f9fa;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.course-products-container{
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 100vh;
}

.course-category-img{
  float:left;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.course-category-row{
  height: 200px;
}

.alert-container{
  position: relative;
}

